<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span> List of reservations <i class="ion-ios-arrow-forward"></i></span></p>
          <h1 class="mb-3 bread">List of reservations </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-cart">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ftco-animate">
          <div class="car-list">
            <table class="table">
              <thead class="thead-primary">
                <tr class="text-center">
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th class="bg-primary heading">Name</th>
                  <th class="bg-dark heading">Driving License</th>
                  <th class="bg-black heading"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let car of cars">
                  <td class="car-image">
                    <div class="img" [style.background-image]="'url(' + car.imageUrl + ')'"></div>
                  </td>
                  <td class="product-name">
                    <h3>{{ car.name }}</h3>
                    <p class="mb-0 rated">
                      <span style="color: darkgray;">Date:{{ car.reservationDate }}</span>

                      <!-- <span class="ion-ios-star"></span>
                      <span class="ion-ios-star"></span>
                      <span class="ion-ios-star"></span>
                      <span class="ion-ios-star"></span>
                      <span class="ion-ios-star"></span> -->
                    </p>
                    <p class="mb-0 rated">
                      
                      <span style="color: #1089FF;">Price:{{ car.prix }}$</span>

                      <!-- <span class="ion-ios-star"></span>
                      <span class="ion-ios-star"></span>
                      <span class="ion-ios-star"></span>
                      <span class="ion-ios-star"></span>
                      <span class="ion-ios-star"></span> -->
                    </p>
                  </td>
                  <td class="price">
                    <p class="btn-custom"><a href="#">show all cars</a></p>
                    <div class="price-rate">
                      <!-- <h3>
                        <span class="num"><small class="currency">$</small> </span>
                        <span class="per">/per hour</span>
                      </h3> -->
                      <span class="subheading">{{ car.nameClient }}</span>
                    </div>
                  </td>
                  <td class="price">
                    <p class="btn-custom"><a href="#">show all cars</a></p>
                    <div class="price-rate">
                      <!-- <h3>
                        <span class="num"><small class="currency">$</small> {{ car.dailyRate }}</span>
                        <span class="per">/per day</span>
                      </h3> -->
                      <span class="subheading">{{ car.drivinglicence }}</span>
                    </div>
                  </td>
                  <!-- <td class="price">
                    <p class="btn-custom"><a href="#">Rent a car</a></p>
                    <div class="price-rate">
                      <h3>
                        <span class="num"><small class="currency">$</small> {{ car.monthlyRate }}</span>
                        <span class="per">/per month</span>
                      </h3>
                      <span class="subheading">$3/hour fuel surcharges</span>
                    </div>
                  </td> -->
                  <td class="details text-center">
                    <div class="d-flex justify-content-center">
                      <button class="btn btn-outline-success mr-2"(click)="showDetails(car)">Accept</button>
                      <button class="btn btn-outline-danger ml-2" (click)="showDetails(car)">Reject</button>
                    </div>
                  </td>
                  
                  
                </tr><!-- END TR-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  
