<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span> List of reclamation <i class="ion-ios-arrow-forward"></i></span></p>
          <h1 class="mb-3 bread">List of Client </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-cart">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ftco-animate">
            <table class="table">
              <thead class="thead-primary">
                <tr class="text-center">
                  <th class="bg-primary heading">Name Client</th>
                  <th class="bg-dark heading">Email</th>
                  <th class="bg-dark heading">Driving License</th>
                  <th class="bg-black">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">                
                  <td class="price">
                    <p class="btn-custom"><a href="#">show all cars</a></p>
                    <div class="price-rate">
                      <span class="subheading">{{ user.username }}</span>
                    </div>
                  </td>
                  <td class="price">
                    <p class="btn-custom"><a href="#">show all cars</a></p>
                    <div class="price-rate">
                      <span class="subheading">{{ user.email }}</span>
                    </div>
                  </td>
                  <td class="price">
                    <p class="btn-custom"><a href="#">show all cars</a></p>
                    <div class="price-rate">
                      <span class="subheading">{{ user.drivingLicense }}</span>
                    </div>
                  </td>
                  <td class="details text-center">
                    <div class="d-flex justify-content-center">
                      <button *ngIf="user.username !== 'admin'" (click)="deleteUser(user)" class="circle-btn ml-2"><i class="fas fa-trash"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </section>
  



