<div class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Cars <i class="ion-ios-arrow-forward"></i></span></p>
        <h1 class="mb-3 bread">ADD Your Car</h1>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <div class="comment-form-wrap pt-2">
          <form action="#" class="p-5 bg-light" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Car name*</label>
                  <input type="text" class="form-control" id="model" [(ngModel)]="car.name" name="model" required>
                </div>
                <div class="form-group">
                  <label for="name">Model *</label>
                  <input type="text" class="form-control" id="model" [(ngModel)]="car.model" name="model" required>
                </div>
                <div class="form-group">
                  <label for="nbdoor">Number of doors *</label>
                  <input type="text" class="form-control" id="nb_doors" [(ngModel)]="car.nb_doors" name="nb_doors" required >
                </div>
                <div class="form-group">
                  <label for="price">Price per day *</label>
                  <input type="text" class="form-control" id="price_per_day" [(ngModel)]="car.price_per_day" name="price_per_day" required>
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea name="" id="description" cols="30" rows="5" class="form-control" id="description" [(ngModel)]="car.description" name="description" required></textarea>
                </div>     
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="formFileLg" class="form-label">Photo *</label>
                  <div class="input-group">
                    <input type="file" class="form-control form-control-lg" id="photo" (change)="onFileSelected($event)" accept="image/*" required>
                    <label class="input-group-text" for="formFileLg" style="cursor: pointer;">Choose file</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Address *</label>
                  <input type="text" class="form-control" id="address" [(ngModel)]="car.address" name="address" required>
                </div>
                <div class="form-group">
                  <label for="matricule">registration number *</label>
                  <input type="text" class="form-control" id="registration_num" [(ngModel)]="car.registration_num" name="registration_num" required>
                </div>
                <div class="form-group">
                  <label for="boitev">Gearbox *</label>
                  <input type="text" class="form-control" id="gearbox" [(ngModel)]="car.gearbox" name="gearbox" required>
                </div>
                <div class="form-group">
                  <label for="nbplace">Number of places *</label>
                  <input type="text" class="form-control" id="nb_places" [(ngModel)]="car.nb_places" name="nb_places" required >
                </div>
              </div>
            </div>

            <div class="form-group d-flex justify-content-center">
              <button type="button" class="btn py-3 px-4 btn-primary" (click)="onSubmit()">ADD CAR</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>


