<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs"><span class="mr-2"><a href="/home">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Conditions <i class="ion-ios-arrow-forward"></i></span></p>
          <h1 class="mb-3 bread">Conditions And Term</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light">
    <div class="container">
      <h3 class="mb-0" style="color: cadetblue;">Article 1 – USE OF THE CAR</h3>
      <h5>  Upon delivery of the vehicle, the lessee and authorized drivers become fully responsible in accordance with the terms set forth in the Civil Code. The lessee agrees not to participate in any match, race, competition, rally, or any other competitions of any kind, as well as tests or preparations. The lessee undertakes not to use the car for illegal purposes or purposes other than those provided by the Manufacturer. The lessee agrees to use the closing and protection control systems at each stop.
      </h5>


  
      <h3 class="mb-0" style="color: cadetblue;">Article 2 – USAGE ZONE</h3>
  
      <h5>The Tunisian Republic; no vehicle should leave the territory of the Tunisian Republic.
  
      The lessee agrees that the vehicle will not be used or driven outside the area specified in the contract without the prior consent of the lessor.
      
      Damages resulting from the circulation of the vehicle outside the declared zone will be entirely at the lessee's expense, without the lessee being able to claim the benefits of the lessor's guarantees, especially for the reduction of the deductible.
      </h5>
      <h3 class="mb-0" style="color: cadetblue;">Article 3 – CONDITION OF THE VEHICLE</h3>
      <h5>The vehicle is delivered in good working order and body condition with keys and documents, and tires in good condition, spare tire, and normal accessories. By signing the contract, the lessee accepts the vehicle in its current condition and undertakes to return it in the same working and body condition with tires, spare tire, and accessories in good condition. The lessee refrains from claiming compensation for service interruption, incidents, or accidents attributed to the condition of the vehicle or tires. The vehicle is provided in perfect cleanliness upon return; otherwise, cleaning costs will be charged. Repairs resulting from abnormal wear, freezing, negligence due to accidental or indeterminate causes remain the responsibility of the lessee unless the lessee proves that they are not at fault.
  
        The lessee is responsible for all non-accidental losses or damages suffered by the vehicle, keys, and circulation documents, tires (including punctures), rims, tools, instruments, accessories, interior, and exterior equipment. The lessee agrees to reimburse the lessor the total amount of any damage or loss, as well as the immobilization costs of the vehicle. The repair amount will be payable based on an estimate. It should be noted that the lessor will immediately collect the prepayment.
      </h5>
      <h3 class="mb-0" style="color: cadetblue;">Article 4 – REQUIREMENTS FOR RENTING</h3>
  
      <h5>The driver(s) must hold a valid license for at least four years and be at least thirty years old.</h5>
  
  <h3 class="mb-0" style="color: cadetblue;">Article 5 – DURATION OF THE CONTRACT</h3>
  
  <h5>The rental is granted for a specified period according to the contract. The rental is personal and is in no way transferable. The lessee agrees not to let others drive the car.
  
  In case of non-return of the vehicle by the agreed deadline indicated on the front, the lessor reserves the right to take back the said vehicle wherever it may be, at the exclusive expense of the lessee, without the latter being able to claim an abusive termination of this rental against them.
  
  In case of extension, the lessee must visit the departure agency to request an extension from the lessor at least 24 hours in advance to extend the contract and settle the extension of the rental in case of exceeding the duration without the lessor's agreement; the insurance will end on the dates and times specified in the contract. The lessor reserves the right to refuse any extension request.</h5>
  
  <h3 class="mb-0" style="color: cadetblue;">Article 6 – AVAILABILITY OF THE VEHICLE</h3>
  
  <h5>The vehicle is made available to the lessee at the lessor's agencies and must (unless expressly agreed otherwise) be returned to the same location.
  
  The vehicle is delivered in perfect condition. A contradictory state of the vehicle will be carried out and accepted by the lessee. Any possible reservations must be made at the time of pick-up and must be mentioned in the contract.</h5>
  
  <h3 class="mb-0" style="color: cadetblue;">Article 7 – RETURN OF THE VEHICLE</h3>
  
  <h5>The vehicle must be returned to the departure agency (unless agreed otherwise).
  
  The return must be made on the days and hours of the agency's opening. The keys and documents of the vehicle must be handed over in person to the lessor's staff. The lessee undertakes to return the vehicle in the condition in which it was delivered. Damages observed upon return will be the responsibility of the lessee.
</h5>
<h3 class="mb-0" style="color: cadetblue;">Article 8 – STORAGE AND USE</h3>
  
  <h5>From the takeover until the return of the vehicle, the lessee has control and full responsibility, whether in circulation or parked.
  
  In general, the lessee undertakes to use the vehicle responsibly, including:
  
  Allowing only authorized drivers listed on the contract to drive the car,
  Driving only on roads intended for traffic,
  Not participating in any race, rally, tests, preparation, or any competition of any kind,
  Not using it for illegal or immoral purposes or purposes not intended by the manufacturer,
  Not using it to push, pull, or tow another vehicle (except for a rental vehicle equipped with special equipment),
  Not driving under the influence of alcohol or substances that alter the essential reflexes for driving,
  Not transporting people or goods for profit (except for utility vehicles),
  Not using it for driving lessons,
  Using it in accordance with traffic laws, customs regulations, and, in general, legal and regulatory provisions.
</h5>

<h3 class="mb-0" style="color: cadetblue;">Article 9 – FUEL, LUBRICANT</h3>

  
  <h5>Fuel is always the responsibility of the lessee. Unless otherwise stipulated, the vehicle is delivered with a half-full tank and must be returned in the same condition. If not, the lessor will provide the service of refueling half the tank, and the cost of fuel and the service will be invoiced according to the applicable rate. All breakdowns resulting from a lack or error of fuel or lubricant are the responsibility of the lessee. The lessee must check the levels every 500 km. The lessee must constantly check the oil and water levels.
  </h5>
  <h3 class="mb-0" style="color: cadetblue;">Article 10 – PAYMENT – PREPAYMENT – SECURITY DEPOSIT</h3>
  
  <h5>The amounts of the rental and the security deposit are determined by the current rates. The lessee pays the lessor at the time of taking over the vehicle:
  
  The amount of the requested security deposit,
  The estimated cost of the rental, calculated from the daily rate and the expected duration of the rental.
  The rental is in periods of 24 hours. The lessee benefits from a one-hour grace period at the end of the rental. Beyond that, a new day will be charged.
  
  By express agreement, the amount of the security deposit indicated on the front is assigned to the lessor in full ownership up to the amounts due by the lessee to the lessor in case of:
  
  Non-payment of rents,
  Damages or loss of the vehicle as provided,
  Non-return of the vehicle, except in cases of force majeure and after formal notice.</h5>
  <h3 class="mb-0" style="color: cadetblue;">Article 11 – MAINTENANCE – REPAIR</h3>
  
  <h5>Repairs, part replacements, or tire changes resulting from normal wear are the responsibility of the lessor: those resulting from abnormal wear, negligence, accidental or indeterminate causes remain the responsibility of the lessee and will be carried out promptly by the lessor; their amount will be increased by an immobilization indemnity. In both cases, if the vehicle is immobilized, the lessee can only carry.
  </h5>  
  </div>
  </section>